﻿

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>Expenses manager | Dashboard</title>

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="~/theme/fontawesome-free/css/all.min.css" />
	<!-- IonIcons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
	<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
	<link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
	<link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">


	<script src="~/js/site.js"></script>
	<!-- /.register-box -->
	<!-- jQuery -->
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/theme/dist/js/adminlte.min.js"></script>

	<!-- OPTIONAL SCRIPTS -->
	<script src="~/plugins/chart.js/Chart.min.js"></script>
	<script src="~/dist/js/demo.js"></script>
	<script src="~/plugins/select2/js/select2.full.min.js"></script>
	<script src="~/plugins/moment/moment.min.js"></script>
	<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
</head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini" style="margin-right:10px;">
	<div class="wrapper">
		@await Html.PartialAsync("HeaderPartial")

		<!-- Main Sidebar Container -->
		@await Component.InvokeAsync("Sidebar", (string)ViewBag.Action)

		@RenderBody()

		@await Html.PartialAsync("FooterPartial")
	</div>
</body>
</html>
