﻿@model Expenses.Models.ViewModel.PaymentViewModel
@{
	ViewData["Title"] = "AddPayment";
}
<div class="content-wrapper">
	<div class="container-fluid" style="padding-top:10px; margin:auto; max-width:900px;">
		<!-- SELECT2 EXAMPLE -->
		<div class="card card-info">
			<div class="card-header">
				<h3 class="card-title">Add new payment</h3>
			</div>
			<form asp-action="AddPayment" method="post">
				@Html.AntiForgeryToken()

				@await Html.PartialAsync("Shared/SinglePaymentPartial", Model)

				<div class="card-footer">
					<button type="submit" class="btn btn-info float-right" style="display:block; float:right;">Submit</button>
				</div>
			</form>
		</div>
		<!-- /.card -->
	</div>
</div>
