﻿@model Expenses.Models.ViewModel.PaymentViewModel
@{
	ViewData["Title"] = "Edit";
	Layout = null;
}
<!-- SELECT2 EXAMPLE -->
<div class="card card-info">
	<div class="card-header">
		<h3 class="card-title">Edit existing payment</h3>
	</div>
	<form id="myform" data-test="bla" asp-action="EditPayment" asp-controller="Account" method="post">
		@Html.AntiForgeryToken()

		<input type="hidden" />
		@await Html.PartialAsync("Shared/SinglePaymentPartial", Model)

		<div class="card-footer">
			<div class="btn btn-outline-primary float-left" onclick="closeModal()">Cancel</div>
			<div class="btn btn-info float-right" style="display:block; float:right;" onclick="submitForm()">Save changes</div>
		</div>
	</form>
</div>
<script>
	function submitForm() {
		$.ajax({
			url: '@Url.Action("EditPayment", "Account", new { id = ViewBag.Id })',
			type: 'post',
			dataType: 'json',
			data: $('form#myform').serialize(),
			success: function (data) {
				closeModal();
				location.href = "@Url.Action("Payments", "Account")";

			},
			error: function (xhr, res, errorData) {
				console.log("Error: " + errorData);
			}
		});
	}
</script>
<!-- /.card -->
