﻿
@{
}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a asp-controller="Account" class="nav-link">Dashboard</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a asp-controller="Account" asp-action="AddPayment" class="nav-link">Add</a>
		</li>
	</ul>


	<!-- Right navbar links -->
	<ul class="navbar-nav ml-auto">
		<li class="nav-item" style="margin:auto; padding-right:10px;">
			@DateTime.Now.ToString("dddd, dd.MM.yyyy. HH:mm   ")
		</li>
		<li>
			<form asp-controller="Home" asp-action="Logout" method="post">
				<button class="btn btn-block btn-outline-primary" type="submit">Sign out</button>
			</form>
		</li>
	</ul>
</nav>

