﻿@model Expenses.Models.ViewModel.CurrentMonthData
@{
	Layout = "_Layout";
	double topLimit = Model.TopLimit;
	double bottomLimit = Model.BottomLimit;
	double current = Model.Spent;
	string currency = Model.Currency.Sign;

	Func<double, string> formatDouble = (m) => string.Format("{0:0.0}", m);
}
<a></a>
<!-- /.navbar -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-8">
					<h1 class="m-0 text-dark">Current month values (@ViewBag.StartDate.ToString("dd.MM.") - @ViewBag.EndDate.ToString("dd.MM.yyyy."))</h1>
				</div><!-- /.col -->
				<div class="col-sm-4">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Dashboard v3</li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				@await Html.PartialAsync("IndexCards/CurrentMonthPartial", Model)
				<!-- /.card -->
			</div>
			<div class="row">
				@await Html.PartialAsync("IndexCards/CurrentMonthGroupsPartial", Model)
			</div>
			<div class="row">
				@await Html.PartialAsync("IndexCards/CompareMonthsPartial", Model)
			</div>
				
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
	<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
