﻿
@{
	ViewData["Title"] = "Payments";
}


<script>
	function formatAmount(amount, currency = false) {
		let v = amount.toLocaleString('sr-Latn-RS');
		if (currency === true)
			v += " din ";
		return v;
	}
</script>
<div class="content-wrapper">
	<div class="row">
		<div class="container-fluid" style="padding-top:10px; margin:auto; ">

			<!-- BAR CHART -->
			<div class="card" style="width:100%">
				<div class="card-header">
					<h3 class="card-title">Month range
						<span id="startDate"></span> -
						<span id="endDate"></span>
					</h3>
					<div class="card-tools">
						<span>Switch layout</span>
						<label class="switch">
							<input id="chartSwitch" type="checkbox">
							<span class="slider round"></span>
						</label>
					</div>
				</div>
				<div class="card-body">
					<div class="row" style="border-bottom:1px solid black; padding-bottom:5px; margin-bottom:5px;">
						<div class="col-sm" style="display:flex; flex-direction:row;">
							<div class="form-group col-md-auto" style="max-width:165px; align-self:flex-end;">
								<label>Start month:</label>
								<input style="display:none; " type="datetime" id="dateTimeHiddenStart" />
								<div class="input-group date" id="startMonth" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" data-target="#startMonth">
									<div class="input-group-append" data-target="#startMonth" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-auto" style="max-width:165px; align-self:flex-end;">
								<label>End month:</label>
								<input style="display:none; " type="datetime" id="dateTimeHiddenEnd" />
								<div class="input-group date" id="endMonth" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" data-target="#endMonth">
									<div class="input-group-append" data-target="#endMonth" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-auto" style="align-self:flex-end;">
								<button class="btn btn-block btn-primary" type="button" onclick="applyClick()">Apply</button>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th style="width: 10px"></th>
									<th>Top (din)</th>
									<th>Bottom (din)</th>
									<th>Spent (din)</th>
									<th>Remaining (Top) (din)</th>
									<th>Remaining (Bottom) (din)</th>
								</tr>
							</thead>
							<tbody>
								<tr style="">
									<td>Totals</td>
									<td id="topSum"></td>
									<td id="bottomSum"></td>
									<td id="spentSum"></td>
									<td id="deltaTopSum"></td>
									<td id="deltaBottomSum"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row" style="display:block;">
						<div class="chart col-sm-auto">
							<canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
						</div>
						<div class="">
							<div class="card-body p-0">
								<table class="table table-striped table-hover" id="tableMonths">
									<thead>
										<tr>
											<th style="width: 10px">Month</th>
											<th>Top limit (din)</th>
											<th>Bottom limit (din)</th>
											<th>Spent (din)</th>
											<th>Remaining (Top/Bottom) (din)</th>
										</tr>
									</thead>
									<tbody>
										<tr style="display:none;"></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>
<script>
	/* Fill table */
	class MonthRow {
		static _id = 0;
		constructor(year, month, top, bottom, spent) {
			this.id = MonthRow._id++;
			this.year = year;
			this.month = month;
			this.top = top;
			this.bottom = bottom;
			this.spent = spent;
		}
	}
	var months = [];
	function refreshTotals() {
		let top = 0;
		let bottom = 0;
		let spent = 0;
		let deltaTop = 0;
		let deltaBottom = 0;
		months.forEach((val) => {
			top += val.top;
			bottom += val.bottom;
			spent += val.spent;
			deltaTop += val.top - val.spent;
			deltaBottom += val.bottom - val.spent;
		});
		$("#topSum").text(formatAmount(top) + " din");
		$("#bottomSum").text(formatAmount(bottom) + " din");
		$("#spentSum").text(formatAmount(spent) + " din");
		if (top != 0)
			$("#deltaTopSum").text(formatAmount(deltaTop) + " din (" + ((100 - 100.0 * spent / top).toFixed(0)) + "%)");
		else
			$("#deltaTopSum").text(formatAmount(deltaTop) + " din (-)");
		if (bottom != 0)
			$("#deltaBottomSum").text(formatAmount(deltaBottom) + " din (" + ((100 - 100.0 * spent / bottom).toFixed(0)) + "%)");
		else
			$("#deltaBottomSum").text(formatAmount(deltaBottom) + " din (-)");

	}

	var doFormat = true;
	function refreshTable() {
		$("#tableMonths > tbody .tableRow").html("");
		$.each(months, (index, val) => {
			addRow(val);
		});
		refreshTotals();
	}
	function addRow(monthRow) {
		let m = monthRow;// new MonthRow(month, top, bottom, amount);
		let spanTop = "#42c732";
		let spanBottom = "#42c732";
		if (m.spent >= m.top)
			spanTop = "#ff0000";
		if (m.spent >= m.bottom)
			spanBottom = "#ff0000";
		let row = "<tr class='tableRow'>" +
			"<td>" + padZero(m.month) + '.' + m.year + '.' + "</td>" +
			"<td>" + formatAmount(m.top, doFormat) + "</td>" +
			"<td>" + formatAmount(m.bottom, doFormat) + "</td>" +
			"<td>" + formatAmount(m.spent, doFormat) + "</td>" +
			"<td style='white-space:nowrape;'>" +
			"<span style='color:" + spanTop + "'>" + formatAmount(m.top - m.spent, doFormat) + "</span> / " +
			"<span style='color:" + spanBottom + "'>" + formatAmount(m.bottom - m.spent, doFormat) + "</span> " +
			"</td>" +
			"</tr>";
		$("#tableMonths tbody tr:last").after(row);
	}
	function clearAll() {
	}
</script>
<script>
	//-------------
	//- BAR CHART -
	//-------------
	// Horizontal line (to current spent amount)
	Chart.pluginService.register({
		afterDraw: function (chart) {
			if (chart.config.options.customLine) {
				var lineAt = chart.config.options.customValue;
				var ctxPlugin = chart.chart.ctx;
				var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
				var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];

				var position = yAxe.getPixelForValue(lineAt)

				ctxPlugin.strokeStyle = "red";
				ctxPlugin.beginPath();
				//lineAt = (lineAt - yAxe.min) * (100 / yAxe.max);
				//lineAt = (100 - lineAt) / 100 * (yAxe.height) + yAxe.top;
				ctxPlugin.moveTo(xAxe.left, position);
				ctxPlugin.lineTo(xAxe.right, position);
				ctxPlugin.stroke();
			}
		}
	});
	var myChart = null;
	function createChart() {
		if (myChart != null)
			myChart.destroy();
		// Horizontal line end
		let labels = [];
		let tops = [];
		let bottoms = [];
		let spents = [];
		$.each(months, (index, val) => {
			labels.push(val.month + '.' + val.year + '.')
			tops.push(val.top);
			bottoms.push(val.bottom);
			spents.push(val.spent);
		});

		var areaChartData = {
			labels: labels,
			datasets: [
				{
					label: 'Top limit',
					fill: false,
					categoryPercentage: 0.5,
					backgroundColor: 'rgba(60,141,188,0.9)',
					borderColor: 'rgba(60,141,188,0.8)',
					pointRadius: 5,
					pointColor: '#3b8bba',
					pointStrokeColor: 'rgba(60,141,188,1)',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(60,141,188,1)',
					data: tops
				},
				{
					label: 'Bottom limit',
					fill: false,
					backgroundColor: 'rgba(210, 214, 222, 1)',
					borderColor: 'rgba(210, 214, 222, 1)',
					pointRadius: 5,
					categoryPercentage: 0.5,
					pointColor: 'rgba(210, 214, 222, 1)',
					pointStrokeColor: '#c1c7d1',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(220,220,220,1)',
					data: bottoms
				},
				{
					label: 'Spent',
					fill: true,
					backgroundColor: 'rgba(210, 100, 222, 1)',
					borderColor: 'rgba(210, 214, 150, 1)',
					pointRadius: 8,
					categoryPercentage: 0.5,
					pointColor: 'rgba(210, 214, 222, 1)',
					pointStrokeColor: '#c1c7d1',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(220,220,220,1)',
					data: spents
				}
			]
		}

		var barChartCanvas = $('#barChart').get(0).getContext('2d')
		var barChartData = jQuery.extend(true, {}, areaChartData)
		var temp0 = areaChartData.datasets[0]
		var temp1 = areaChartData.datasets[1]
		//barChartData.datasets[0] = temp0;
		//barChartData.datasets[1] = temp1;

		var drawLine = $("#chartSwitch").is(":checked");
		var draw = 'bar';
		var tooltipMode = 'nearest';
		if (drawLine) {
			draw = 'line';
			tooltipMode = 'index';
		}

		var barChartOptions = {
			customValue:0,
			customLine: !drawLine && false,
			responsive: true,
			maintainAspectRatio: false,
			datasetFill: false,
			tooltips: {
				mode: tooltipMode,
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					},
					display: true,
					scaleLabel: {
						display: true,
						labelString: "Amount (din)"
					}
				}],
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: "Month"
					}
				}]
			},
			legend: {
				display: true
			}
		}

		myChart = new Chart(barChartCanvas, {
			type: draw,
			data: barChartData,
			options: barChartOptions
		})
	}
	createChart();

	$('#chartSwitch').change(function () {
		if (this.checked) {
			//Do stuff
		}
		createChart();
	});
</script>
<script>
	// Month selection.

	var date = new Date();
	$(document).ready(function () {//Initialize Select2 Elements
		$('#startMonth').datetimepicker({
			format: 'MM.YYYY.',
			defaultDate: date,
			//debug: true /* forcing to stay opened*/
		});
		$('#endMonth').datetimepicker({
			format: 'MM.YYYY.',
			defaultDate: date,
			useCurrent: false
		});

		$("#startMonth").on("change.datetimepicker", function (e) {
			$('#endMonth').datetimepicker('minDate', e.date);
		});
		$("#endMonth").on("change.datetimepicker", function (e) {
			$('#startMonth').datetimepicker('maxDate', e.date);
		});


		$("#startMonth").datetimepicker("date", date);
		$("#endMonth").datetimepicker("date", date);
	});

</script>
<script>

	function applyClick() {
		// API call.
		let start = $("#startMonth").datetimepicker("date").toString();
		let end = $("#endMonth").datetimepicker("date").toString();
		$.ajax({
			url: '@Url.Action(nameof(ApiController.GetMonthLimits), "Api")',
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			dataType:"json",
			data: JSON.stringify(
				{
					startdate: dateToJSON(start),
					enddate: dateToJSON(end)
			})
		}).done((response, status, xhr) => {
			let start = new Date(response.startDate);
			let end = new Date(response.endDate);
			$("#startDate").html(padZero(start.getDate()) + "." + padZero(start.getMonth() + 1) + "." + start.getFullYear() + ".");
			$("#endDate").html(padZero(end.getDate()) + "." + padZero(end.getMonth() + 1) + "." + end.getFullYear() + ".");
			months = [];
			$.each(response.months, (index, val, d) => {
				let m = new MonthRow(val.year, val.month, val.topLimit, val.bottomLimit, val.spent);
				months.push(m);
			});
			createChart();
			months = months.reverse();
			refreshTable();
			months = months.reverse();
		}).fail((xhr, status, error) => {
			console.log("fail");
		}).always(() => {
			console.log("Response from server");
		});
	};
	$(document).ready(() => {
		applyClick();
	});
</script>