﻿@model Expenses.Models.ViewModel.FilteredDataModel
@using Expenses
@{
	ViewData["Title"] = "Payments";
	var groups = Model.Payments.Select(x => x.Shop.Group).Distinct().ToList();

}
<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="modalContent"  style="min-height:250px;">
			
		</div>
	</div>
</div>
<script>
	function closeModal() {
		$("#editModal").modal('hide');
	}
</script>

<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid" style="padding-top:10px; margin:auto; ">
			<div class="row">
				<div class="card" style="width:100%">
					<div class="card-header">
						<div class="col-sm" style="display:flex; flex-direction:row;">
							<div class="form-group col-md-auto" style="max-width:165px; align-self:flex-end;">
								<label>Start month:</label>
								<input style="display:none; " type="datetime" id="dateTimeHiddenStart" />
								<div class="input-group date" id="startMonth" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" data-target="#startMonth" />
									<div class="input-group-append" data-target="#startMonth" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-auto" style="max-width:165px; align-self:flex-end;">
								<label>End month:</label>
								<input style="display:none; " type="datetime" id="dateTimeHiddenEnd" />
								<div class="input-group date" id="endMonth" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" data-target="#endMonth" />
									<div class="input-group-append" data-target="#endMonth" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-auto" style="align-self:flex-end;">
								<button class="btn btn-block btn-primary" type="button" onclick="applyClick()">Apply</button>
							</div>
							<div class="form-group col-md-auto" style="align-self:flex-end;">
								<button class="btn btn-block btn-primary" type="button" onclick="resetPage()">Current</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="card card-default">
				<div class="card-header">
					@{ 
						double d = Model.EndDate.Subtract(Model.StartDate).TotalDays;
						d = Math.Round(d);
						int totalDays = (int)d;

					}
					<h3 class="card-title">
						Date range:
						<span>@Model.StartDate.ToString("dd.MM.yyyy.")</span> -
						<span>@Model.EndDate.ToString("dd.MM.yyyy.")</span><span> (total day(s): @d)</span>
						<br />
						<span style="font-size:0.8em;">(depends on start day of the month range - current is <b>@Model.StartDay</b>)</span>
					</h3>
					<div class="card-tools">
						<span>Switch layout</span>
						<label class="switch">
							<input id="chartSwitch" type="checkbox"/>
							<span class="slider round"></span>
						</label>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm">
							<div>
								<label>Filter:</label>
							</div>

							<div class="row">
								<div class="col-md-auto" style="display:flex; flex-direction:row;">
									<div class="form-group col-md-auto" style="max-width:175px; align-self:flex-end; padding-left:0;">
										Start date:
										<input style="display:none; " type="datetime" id="dateTimeHiddenStart" />
										<div class="input-group date" id="startDate" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input" data-target="#startDate" />
											<div class="input-group-append" data-target="#startDate" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
									</div>
									<div class="form-group col-md-auto" style="max-width:175px; align-self:flex-end;">
										End date:
										<input style="display:none; " type="datetime" id="dateTimeHiddenEnd" />
										<div class="input-group date" id="endDate" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input" data-target="#endDate" />
											<div class="input-group-append" data-target="#endDate" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
									</div>
								</div>



								<div class="form-group col-md-auto" style="display:flex; align-self:flex-end;">
									<button class="btn btn-block btn-primary" type="button" style="height: 38px;" onclick="resetFilterDateRange()">Reset</button>
								</div>
							</div>
							<div class="form-group">
								<span>Select groups</span>
								<select id="selectGroups" class="select2bs4 select2-hidden-accessible" multiple=""
										data-placeholder="All included" style="width: 100%;"
										tabindex="-1" aria-hidden="true"
										onchange="selectedGroupsChanged()">
								</select>
							</div>
							<div class="form-group">
								<span>Select shops</span>
								<select id="selectShops" class="select2bs4 select2-hidden-accessible" multiple=""
										data-placeholder="All included" style="width: 100%;"
										tabindex="-1" aria-hidden="true"
										onchange="selectedShopsChanged()">
								</select>
							</div>
							<div class="form-group">
								<span>Select tags</span>
								<select id="selectTags" class="select2bs4 select2-hidden-accessible" multiple=""
										data-placeholder="All included" style="width: 100%;"
										tabindex="-1" aria-hidden="true">
								</select>
							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md">
						<table id="tableTotals" class="table table-sm table-striped table-hover table-header-center table-cell-center"
							   style="width:auto;">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr style="/*display:none*/ font-weight:bold;">
									<td>Total spent</td>
									<td></td>
									<td id="totalSum"></td>
								</tr>
							</tbody>
						</table>
							</div>
						<div class="col-md-8" style="display:flex; flex-direction:column; max-width:40%; ">
							<div class="btn-group btn-group-toggle" data-toggle="buttons" style="align-self:flex-end;">
								<label class="btn btn-outline-secondary">
									<input type="radio" name="options" id="selectedGroups" onclick="refreshChart()" autocomplete="off" checked=""> Group
								</label>
								<label class="btn btn-outline-secondary">
									<input type="radio" name="options" id="selectedShops" onclick="refreshChart()" autocomplete="off"> Shop
								</label>
								<label class="btn btn-outline-secondary active">
									<input type="radio" name="options" id="selectedTags" onclick="refreshChart()" autocomplete="off"> Tag
								</label>
							</div>
							<div id="canvas-holder" style="/*background-color:aliceblue;*/ ">
								<canvas id="chart-area" style="min-width:150px;"></canvas>
							</div>
							<script>
								var randomScalingFactor = function () {
									return Math.round(Math.random() * 100);
								};
								function refreshChart() {
									if (window.myDoughnut != null)
										window.myDoughnut.destroy();
									let elems = []; // label, color, data
									if ($("#selectedGroups").is(':checked')) {
										let gr = [];
										$.each(displayedPayments, (index, val) => {
											if (gr.length == 0 || gr.indexOf(val.group) == -1) {
												gr.push(val.group);
												elems.push({ label: val.group, color: groupsColors[val.group], data: 0 });
											}
											let i = gr.indexOf(val.group);
											elems[i].data += val.amount;
										});
									}
									else if ($("#selectedShops").is(':checked')) {
										let sh = [];
										$.each(displayedPayments, (index, val) => {
											if (sh.length == 0 || sh.indexOf(val.shop) == -1) {
												sh.push(val.shop);
												elems.push({ label: val.shop, color: groupsColors[val.group], data: 0 });
											}
											let i = sh.indexOf(val.shop);
											elems[i].data += val.amount;
										});
									}
									else {
										//let tag = [];
										//$.each(displayedPayments, (index, val) => {
										//	if (val.tags.length == 0) {
										//		if (tag.length == 0)
										//			tag.push()
										//	}
										//	if (tag.length == 0 || tag.indexOf(val.tag) == -1) {
										//		tag.push(val.shop);
										//		elems.push({ label: val.group, color: val.groupColor, data: 0 });
										//	}
										//	let i = tag.indexOf(val.shop);
										//	elems[i].data += val.amount;
										//});
									}
									let d = [];
									let c = [];
									let l = [];
									$.each(elems, (index, val) => {
										d.push(val.data);
										c.push(val.color);
										l.push(val.label);
									});
									let config = {
										type: 'doughnut',
										data: {
											datasets: [{
												data: d,
												backgroundColor: c,
												label: 'Dataset '
											}],
											labels: l
										},
										options: {
											responsive: true,
											legend: {
												position: 'right',
											},
											title: {
												display: true,
												text: ''
											},
											animation: {
												animateScale: true,
												animateRotate: true
											}
										}
									};
									var ctx = document.getElementById('chart-area').getContext('2d');
									window.myDoughnut = new Chart(ctx, config);
								}

								window.onload = function () {
									this.refreshChart();
								};

							</script>
						</div>
					</div>
					<script>
						function refreshTotals() {
							let gr = [];
							let sh = [];
							let tg = [];
							let total = 0;
							$.each(displayedPayments, (i, p) => {
								let index = -1;
								// Set groups.
								$.each(gr, (i1, g) => {
									if (g.name === p.group) {
										index = i1;
										return false;
									}
								});
								if (index === -1) {
									index = gr.length;
									gr.push({ name: p.group, amount: 0 });
								}
								gr[index].amount += p.amount;

								index = -1;
								$.each(sh, (i1, s) => {
									if (s.name === p.shop) {
										index = i1;
										return false;
									}
								});
								if (index === -1) {
									index = sh.length;
									sh.push({ name: p.shop, amount: 0 });
								}
								sh[index].amount += p.amount;

								total += p.amount;
							});
							$("#totalSum").html(formatMoney(total));
							$("#tableTotals > tbody .tableRow").remove();

							let r = "<tr class='tableRow'><td>Total by groups</td><td></td><td></td></tr>";
							$("#tableTotals tbody tr:last").after(r);
							$.each(gr, (i, g) => {
								let r = "<tr class='tableRow'><td></td><td>" + g.name + "</td><td>" + formatMoney(g.amount) + "</td></tr>";
								$("#tableTotals tbody tr:last").after(r);
							});

							r = "<tr class='tableRow'><td>Total by shops</td><td></td><td></td></tr>";
							$("#tableTotals tbody tr:last").after(r);
							$.each(sh, (i, s) => {
								let r = "<tr class='tableRow'><td></td><td>" + s.name + "</td><td>" + formatMoney(s.amount) + "</td></tr>";
								$("#tableTotals tbody tr:last").after(r);
							});

						}
					</script>
					<div class="row">
						<table id="tablePayments" class="table table-striped table-hover table-header-center table-cell-center">
							<thead>
								<tr>
									<th style="width: 10px"></th>
									<th>Group </th>
									<th>Shop</th>
									<th>Date</th>
									<th>Amount</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr style="display:none">
									<td>Totals</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	class Payment {
		constructor(date, group, shop, tags, amount, id, comment) {
			this.date = date;
			this.group = group;
			this.shop = shop;
			this.amount = amount;
			this.id = id;
			this.comment = comment;
			this.tags = tags;

			//this.groupColor = getChartColor(id);
		}
	}

	// All (non-filtered) payments.
	var allPayments = [];
	@if (Model != null && Model.Payments.Any())
		foreach(var p in Model.Payments)
		{
			var date = p.PurchaseDate.ToString("yyyy-MM-ddTHH:MM:ss.000Z");

			var group = p.Shop.Group.Name;
			var shop = p.Shop.Name;
			var tags = string.Join(',', p.Tags.Select(x=>x.Tag).ToArray());
			var amount = p.TotalAmount;
			var id = p.Id;
			var comment = p.PaymentComment?.Comment;
			<text>allPayments.push(new Payment(new Date('@date'), '@group', '@shop', [@tags], @amount, @id, '@comment'));
	</text>
		}


	function createPaymentRow(payment) {
		let r = "<tr class='tableRow' data-id='" + payment.id + "'>" +
			"<td></td>" +
			"<td>" + payment.group + "</td>" +
			"<td>" + payment.shop + "</td>" +
			"<td>" + displayDateTime(payment.date) + "</td>" +
			"<td>" + formatMoney(payment.amount) + "</td>" +
			"<td><button type='button' class='btn btn-block btn-sm' onclick='editPayment(" + payment.id + ")'><i class='fas fa-edit'></i></button></td>" +
			"<td><button type='button' class='btn btn-block btn-sm' onclick='deletePayment(" + payment.id + ")'><i class='fas fa-trash-alt'></i></button></td>";

		return r;
	}
	function editPayment(paymentId) {
		// get content and set to modal
		let waiting = '<div class="overlay d-flex justify-content-center align-items-center">' +
			'<i class="fas fa-2x fa-sync fa-spin"></i>' +
			'</div >';
		$("#modalContent").html(waiting);
		$('#editModal').modal({ backdrop: 'static', keyboard: false });
		$.ajax({
			url: '@Url.Action("EditPayment", "Account")/' + paymentId,
			type: "GET",
			success: (res) => {
				$("#modalContent").html(res);
			},
			error: (xhr, ajaxOptions, thrownError) => {
				console.log("Get modal content error: " + thrownError);
			}
		});
	}
	function deletePayment(paymentId){

	}

	function refreshTable() {
		$("#tablePayments > tbody .tableRow").remove();
		$.each(displayedPayments, (index, val) => {

			let r = createPaymentRow(val);
			$("#tablePayments tbody tr:last").after(r);
		});
		//refreshTotals();
	}
	
</script>
<script>
	var groups = [];
	var groupsColors = [];
	@if (ViewBag.Groups != null)
	{
		foreach (Expenses.Model.PaymentGroup p in ViewBag.Groups)
		{
			string shops = string.Join(",", p.Shops.Select(x => $"'{x.Name}'").ToList());
			<text>groups.push({ name: '@p.Name', shops:[@Html.Raw(shops)] });</text>
			<text>
			groupsColors['@p.Name'] = '#@p.Color.ToString("x")';
			</text>
		}
	}

	// Initialize display.
	function initializeFilter() {
		let t = $("#selectGroups");
		t.html("");
		t.html("");

		let sh = [];
		$.each(groups, (index, val) => {
			t.append("<option>" + val.name + "</option>");
			$.each(val.shops, (i, v) => {
				sh.push(v);
			});
		});
		sh = distinct(sh);
		let s = $("#selectShops");
		$.each(sh, (i, v) => {
			s.append("<option>" + v + "</option>");
		});


		// Distinct all shops and show them.
		// Same goes for tags.
	}
	function resetFilterDateRange() {
		$("#startDate").datetimepicker("date", startDate);
		$("#endDate").datetimepicker("date", endDate);
	}
</script>
<script>
	@{
		int startYear = MonthCalculator.GetYear(Model.StartDay, Model.StartDate);
		int endYear = MonthCalculator.GetYear(Model.StartDay, Model.EndDate);
		int startMonth = MonthCalculator.GetMonth(Model.StartDay, Model.StartDate);
		int endMonth = MonthCalculator.GetMonth(Model.StartDay, Model.EndDate);
	}
	// Month date is different - we need just that month is good (day is not important).
	var startDateMonth = new Date(@startYear, @(startMonth-1), 1);
	var endDateMonth = new Date(@endYear, @(endMonth-1), 1);

	var startDate = new Date('@Model.StartDate.ToJSON()');
	var endDate = new Date('@Model.EndDate.ToJSON()');

	$(document).ready(function () {//Initialize Select2 Elements
		$('#startMonth').datetimepicker({
		format: 'MM.YYYY.',
			defaultDate: startDateMonth,
			//maxDate: endDateMonth
			/*debug: true*/ /* forcing to stay opened*/
		});
		$('#endMonth').datetimepicker({
		format: 'MM.YYYY.',
			defaultDate: endDateMonth,
			//minDate: startDateMonth,
			useCurrent: false
		});

		// Start-End date
		$('#startDate').datetimepicker({
			format: 'DD.MM.YYYY.',
			defaultDate: startDate,
			minDate: startDate,
			maxDate: endDate,
			//debug: true /* forcing to stay opened*/
		});
		// Start-End date
		$('#endDate').datetimepicker({
			format: 'DD.MM.YYYY.',
			defaultDate: endDate,
			minDate: startDate,
			maxDate: endDate
			/*debug: true*/ /* forcing to stay opened*/
		});

		$('.js-example-basic-multiple').select2();

		$("#startMonth").on("change.datetimepicker", function (e) {
			$('#endMonth').datetimepicker('minDate', e.date);
		});
		$("#endMonth").on("change.datetimepicker", function (e) {
			$('#startMonth').datetimepicker('maxDate', e.date);
		});
		$("#startDate").on("change.datetimepicker", function (e) {
			$('#endDate').datetimepicker('minDate', e.date);
			selectedStartDate = e.date.toDate();
			updateFilter();
		});
		$("#endDate").on("change.datetimepicker", function (e) {
			$('#startDate').datetimepicker('maxDate', e.date);
			selectedEndDate = e.date.toDate();
			updateFilter();
		});

		// Must be set here. It seems some bug is with initialization.
		$("#startDate").datetimepicker("date", startDate);
		$("#endDate").datetimepicker("date", endDate);
		$("#startMonth").datetimepicker("maxDate", endDateMonth);
		$("#endMonth").datetimepicker("minDate", startDateMonth);

		$('.select2').select2()

		//Initialize Select2 Elements
		$('.select2bs4').select2({
			theme: 'bootstrap4',
			dropdownAutoWidth: true,
		});

		initializeFilter();
		updateFilter();

	});
</script>
<script>
	var selectedStartDate = startDate;
	var selectedEndDate = endDate;
	var selectedGroups = [];
	var selectedShops = [];
	var selectedTags = [];
	// Filtered payments.
	var displayedPayments = [];
	function updateFilter() {
		let byDate = true;
		let byGroup = selectedGroups.length > 0;
		let byShop = selectedShops.length > 0;
		let byTag = selectedTags > 0;

		let start = selectedStartDate.getTime();
		let end = selectedEndDate.getTime() + 24*60*60*1000; // include current day
		displayedPayments = [];
		$.each(allPayments, (index, val) => {
			let t = val.date.getTime();
			if (t < start || end < t)
				return;
			if (byGroup === true) {
				if ($.inArray(val.group, selectedGroups) == -1)
					return;
			}
			if (byShop === true) {
				if ($.inArray(val.shop, selectedShops) == -1)
					return;
			}
			displayedPayments.push(val);
		});
		// Refresh table
		refreshTable();

		// Refresh chart
		refreshChart();

		refreshTotals();
	}

	function selectedGroupsChanged() {
		let grs = $('#selectGroups').select2('data');
		selectedGroups = [];
		$.each(grs, (index, val) => {
			selectedGroups.push(val.text);
		});

		$("#selectShops").html("");
		$("#selectTags").html("");

		let g = [];
		if (selectedGroups.length == 0) {
			// Show all (but distinct).
			$.each(groups, (i, val) => {
				g.push(val);
			});
		}
		else
			$.each(selectedGroups, (index, val) => {
				let sG = null;
				$.each(groups, (i, v) => {
					if (v.name == val) {
						sG = v;
						return false;
					}
				});
				g.push(sG);
			});

		let tshops = [];
		$.each(g, (i, val) => {
			$.each(val.shops, (j, v) => {
				tshops.push(v);
			});
		});
		tshops = distinct(tshops);

		// Keep selected shops (if exist).


		$.each(tshops, (i, v) => {
			$("#selectShops").append("<option>" + v + "</option>");
		});
		updateFilter();
	}
	function selectedShopsChanged() {
		let shops = $('#selectShops').select2('data');
		selectedShops = [];
		$.each(shops, (i, v) => {
			selectedShops.push(v.text);
		});

		updateFilter();
	}

	function applyClick() {
		// API call.
		let start = $("#startMonth").datetimepicker("date").toString();
		let end = $("#endMonth").datetimepicker("date").toString();
		start = new Date(start);
		end = new Date(end);
		//let sM = start.getMonth() + 1;
		//if (sM < 10)
		//	sM = "0" + sM;
		//let eM = end.getMonth() + 1;
		//if (eM < 10)
		//	eM = "0" + eM;
		start = start.getFullYear() + "-" + padZero(start.getMonth() + 1);// dateToJSON(start);
		end = end.getFullYear() + "-" + padZero(end.getMonth() + 1);//dateToJSON(end);
		location.href = "@Url.Action("Payments", "Account")?start="+start+"&end="+end;
	}
	function resetPage() {
		location.href = "@Url.Action("Payments", "Account")";
	}
</script>
