﻿@using Expenses.Model
@{
	IEnumerable<PaymentGroup> grs = ViewBag.Groups;
	var groups = grs.Select(x => new { Id = x.Id, Name = x.Name, Color = x.Color }).ToList();
	var shops = grs.
		SelectMany(x => x.Shops.Select(y => new { ShopId = y.Id, Group = x.Name, GroupId = x.Id, GroupColor = x.Color, Shop = y.Name }))
		.Select(x => x)
		.ToList();
	IEnumerable<Limit> limits = ViewBag.Limits;
}

<div class="content-wrapper">
	<div class="content-header"></div>
	<section class="content" style="max-width:800px;">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Groups</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Group name</th>
								<th class="text-center">Current color</th>
								<th class="text-center">New color</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@{
								int index = 0;
								Func<string> getName = () => "name" + index;
								Func<string> getColor1 = () => "oldColor" + index;
								Func<string> getColor2 = () => "newColor" + index;
							}
							@foreach (var gr in groups)
									{
										string id = "group" + gr.Id;
										string inputColor = "inputGroupColor" + gr.Id;
										string inputName = "inputGroupName" + gr.Id;
								<tr>
									<td id='@id'>
										<input id="@inputName" type="text" class="input-group input-group-sm mb-3" value="@gr.Name" />
									</td>
									<td><span style="margin:auto; display:block; width: 40px; height:30px; background:#@gr.Color.ToString("x6")"></span></td>
									<td>
										<input type="text" id="@inputColor" class="colorpicker-element my-colorpicker" 
											   style="width:40px; height:30px; margin:auto; border:none; cursor:pointer; display:block;"
											   data-colorpicker-id="1" data-original-title="" title="" 
											   aria-describedby="popover372578" value="#@gr.Color.ToString("x6")" onchange="refreshBackground(this)">
										
									</td>
									<td>
										<div class="btn btn-block btn-primary btn-sm float-right" style="max-width:120px;" onclick="updateGroup(@gr.Id, '@inputColor', '@inputName')">Update</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<script>
					function refreshBackground(el) {
						$(el).css("background-color", $(el).val());
						$(el).css("color", $(el).val());
					}
					function rgb2hex(rgb) {
						rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
						function hex(x) {
							return ("0" + parseInt(x).toString(16)).slice(-2);
						}
						return hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
					}
					function updateGroup(id, colorId, nameId) {
						let name = $("#" + nameId).val();
						let color = $("#" + colorId).css("background-color");
						let c = "0x" + rgb2hex(color);
						c = parseInt(c);

						$.ajax({
							url: '@Url.Action(nameof(ApiController.ChangeGroup), "Api")',
							type: 'POST',
							contentType: "application/json; charset=utf-8",
							//dataType: "json",
							data: JSON.stringify({
								id: id,
								name: name,
								color: c
							})
						}).
							done((response, status, xhr) => {
								location.reload();
								})
						;
					}
				</script>
				<!-- /.card-body -->
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Shops</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Group color</th>
								<th>Group name</th>
								<th>Shop name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var sh in shops)
							{
								string id = "shop" + sh.ShopId;
								string shopName = "shopName" + sh.ShopId;
								<tr id="@id">
									<td><span style="margin:auto; display:block; width: 40px; height:30px; background:#@sh.GroupColor.ToString("x6")"></span></td>
									<td><span type="text" class="input-group input-group-sm mb-3" >@sh.Group</span></td>
									<td><input id="@shopName" type="text" class="input-group input-group-sm mb-3" value="@sh.Shop" /></td>
									<td>
										<div class="btn btn-block btn-primary btn-sm float-right" style="max-width:120px;" onclick="updateShopName(@sh.GroupId, @sh.ShopId, '@shopName')">Update</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
					<script>
						function updateShopName(groupId, shopId, shopName) {
							let name = $("#"+shopName).val();
							$.ajax({
								url: '@Url.Action(nameof(ApiController.ChangeShopName), "Api")',
								type: 'POST',
								contentType: "application/json; charset=utf-8",
								//dataType: "json",
								data: JSON.stringify({
									id: shopId,
									groupId: groupId,
									name: name
								})
							}).
							done((response, status, xhr) => {
								location.reload();
								})
						;
						}
					</script>
				</div>
				<!-- /.card-body -->
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Limits</h3>
					<div class="card-tools">
						<div class="btn btn-sm btn-primary" onclick="addNewLimit()">Add limit</div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
					<table id="limitTable" class="table table-sm">
						<thead>
							<tr>
								<th>Date</th>
								<th>Top limit</th>
								<th>Bottom limit</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr id="limitTemplate" style="display:none">
								<td>
									<input style="display:none; " type="datetime" id="#limitDateIdVal" class="myDate" />
									<div class="input-group date" id="#limitDateId" data-target-input="nearest">
										<input type="text" class="form-control datetimepicker-input" data-target="##limitDateId">
										<div class="input-group-append" data-target="##limitDateId" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</td>
								<td>
									<div class="input-group mb-3">
										<input type="text" class="form-control limitTop" placeholder="" aria-describedby="basic-addon2" value="#limitTop">
										<div class="input-group-append">
											<span class="input-group-text" id="basic-addon2">rsd</span>
										</div>
									</div>
								</td>
								<td>
									<div class="input-group mb-3">
										<input type="text" class="form-control limitBottom" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" value="#limitBottom">
										<div class="input-group-append">
											<span class="input-group-text" id="basic-addon2">rsd</span>
										</div>
									</div>
								</td>
								<td>
									<div class="btn btn-block btn-outline-primary btn-sm float-right" style="max-width:120px;" onclick="updateLimit(#id)">Update</div>
								</td>
								<td>
									<div class="btn btn-block btn-outline-danger btn-sm float-right" style="max-width:120px;" onclick="deleteLimit(#id)">Delete</div>
								</td>
							</tr>
						</tbody>
					</table>
					<script>
						function createLimitRow(id, date, top, bottom) {
							//let row = '' +
							//	'<tr id="limit' + id + '">' +
							//	'<td><input type="text" class="input-group input-group-sm mb-3" value="' + date + '" /></td>' +
							//	'<td><input type="text" class="input-group input-group-sm mb-3" value="' + formatMoney(top) + '" />' +
							//
							//	'</td>' +
							//	'<td><input type="text" class="input-group input-group-sm mb-3" value="' + formatMoney(bottom) + '" /></td>' +
							//	'<td>' +
							//	'<div class="btn btn-block btn-primary btn-sm float-right" style="max-width:120px;">Update</div>' +
							//	'</td>' +
							//	'</tr >';
							//$("#limitTemplate").append(row);
							let row = $("#limitTemplate").html();
							let idString = "limit" + id;
							row = row.replace("limitTemplate", idString);
							let dateId = "limitDate" + id + "Val";
							row = row.split("#limitDateIdVal").join(dateId);
							dateId = "limitDate" + id;
							row = row.split("#limitDateId").join(dateId);
							let d = new Date(date);
							let dateString = padZero(d.getDay()) + "." + d.getFullYear() + ".";
							//row = row.replace("#limitDate", dateString);
							row = row.replace("#limitTop", top);
							row = row.replace("#limitBottom", bottom);
							row = row.replace("#id", id);
							row = row.replace("#id", id);
							row = "<tr id='" + idString + "'>" + row + "</tr>";
							$("#limitTable tbody").append(row);

							initializeDate($("#" + dateId), d);

							return row;
						}

						function initializeDate(item, val) {
							item.datetimepicker({
								format: 'MM.YYYY.'
							});
							item.datetimepicker("date", val);
						}
						$(document).ready(()=>{

							@foreach (var l in limits)
							{
								<text>
								createLimitRow(@l.Id, '@l.StartDate.ToJSON()', @l.TopAmount, @l.BottomAmount);
								</text>
							}
						});
						function addNewLimit() {
							$.ajax({
								url: '@Url.Action("AddLimit", "Api")',
								type: 'POST',
								contentType: "application/json; charset=utf-8",
								dataType: "json",
								data: "{}"
							})
								.done((response, status, xhr) => {
									location.reload();
								})
								.fail((response, status, xhr) => {
									location.reload();
								})
								.always(() => {

								});
							// Ajax.
							//createLimitRow(0, new Date(), 0, 0);
						}
						function updateLimit(id) {
							let t = $("#limit" + id);
							let date = t.find("#limitDate"+id).datetimepicker("date").toString();
							date = dateToJSON(date);
							let top = t.find(".limitTop").first().val();
							let bottom = t.find(".limitBottom").first().val();
							$.ajax({
								url: '@Url.Action(nameof(ApiController.UpdateLimit), "Api")',
								type: 'POST',
								contentType: "application/json; charset=utf-8",
								dataType: "json",
								data: JSON.stringify({
									id: id,
									date: date,
									topLimit: parseInt(top),
									bottomLimit: parseInt(bottom)
								})
							}).done((response, status, xhr) => {

							}).fail((response, status, xhr) => {

							});
						}
						function deleteLimit(id) {
							$.ajax({
								url: '@Url.Action("DeleteLimit", "Api")/' + id,
								type: 'POST',
								contentType: "application/json; charset=utf-8",
								dataType: "json",
								data: JSON.stringify({ id : id })
							})
								.done((response, status, xhr) => {
									location.reload();
								}).fail((response, status, xhr) => {
									location.reload();
								});
						}
					</script>
				</div>
				<!-- /.card-body -->
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Month start day</h3>
					
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div class="row">
						<div class="col-md-auto">
							<p>Start day of the month (Can be in range 16.12.-15.01., and it determines start day of January.)</p>
							<div class="col-6 flex-row" style="display:flex;">
								<div>
									<input  style="display:none; " type="datetime" id="startDayInput" />
									<div class="input-group date" id="startDay" data-target-input="nearest" style="max-width:150px; min-width:140px;">
										<input onkeydown="return false;" type="text" class="form-control datetimepicker-input" data-target="#startDay">
										<div class="input-group-append" data-target="#startDay" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>
								<button class="btn btn-block btn-primary" type="button" style="height: 38px; margin-left:10px;" onclick="updateStartDay()">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script>
	function updateStartDay() {
		let day = $("#startDay").datetimepicker("date").date();
		$.ajax({
			url: '@Url.Action("ChangeStartDay", "Api")',
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			data: ""+day//JSON.stringify({ day: day })
		})
			.done((response, status, xhr) => {

			});
	}
	$(document).ready(() => {

		//$('#limitDate').datetimepicker({
		//	format: 'MM.YYYY.'
		//});
		let splitDay = @MonthCalculator.SplitDay;
		let date = new Date('@ViewBag.StartDateJson');
		$('#startDay').datetimepicker({
			format: 'DD.MM.',
			defaultDate: date,
			debug: true /* forcing to stay opened*/
		});


		$("#startDay").datetimepicker("date", date);
		$("#startDay").datetimepicker("minDate", new Date(2019, 11, splitDay));
		$("#startDay").datetimepicker("maxDate", new Date(2020, 0, splitDay - 1));// Just don't set split day close to end of month.


		$(".my-colorpicker").colorpicker();
		});
</script>
