﻿@model Expenses.Models.ViewModel.CurrentMonthData
@{
	ViewData["Title"] = "CurrentMonthPayments";
}

<!-- BAR CHART -->
<div class="card" style="width:100%">
	<div class="card-header">
		<h3 class="card-title">Month comparison</h3>
		<div class="card-tools">
			<span>Switch layout</span>
			<label class="switch">
				<input id="chartSwitch"  type="checkbox">
				<span class="slider round"></span>
			</label>
		</div>
	</div>
	<div class="card-body">
		<div class="chart">
			<canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
		</div>
	</div>
	<!-- /.card-body -->
</div>
<!-- /.card -->

<script>
	//-------------
	//- BAR CHART -
	//-------------
	// Horizontal line (to current spent amount)
	Chart.pluginService.register({
		afterDraw: function (chart) {
			if (chart.config.options.customLine) {
				var lineAt = chart.config.options.customValue;
				var ctxPlugin = chart.chart.ctx;
				var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
				var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];

				// I'm not good at maths
				// So I couldn't find a way to make it work ...
				// ... without having the `min` property set to 0
				//if (yAxe.min != 0) return;
				var position = yAxe.getPixelForValue(lineAt)

				ctxPlugin.strokeStyle = "red";
				ctxPlugin.beginPath();
				//lineAt = (lineAt - yAxe.min) * (100 / yAxe.max);
				//lineAt = (100 - lineAt) / 100 * (yAxe.height) + yAxe.top;
				ctxPlugin.moveTo(xAxe.left, position);
				ctxPlugin.lineTo(xAxe.right, position);
				ctxPlugin.stroke();
			}
		}
	});
	var myChart = null;
	function createChart() {
		if (myChart != null)
			myChart.destroy();
		// Horizontal line end
		var areaChartData = {
			labels: [
			@foreach(var m in Model.Months)
			{
				<text>'@m.Month.ToString()',</text>
			}
			],
			datasets: [
				{
					label: 'Top limit',
					fill: false,
					backgroundColor: 'rgba(60,141,188,0.9)',
					borderColor: 'rgba(60,141,188,0.8)',
					pointRadius: 5,
					pointColor: '#3b8bba',
					pointStrokeColor: 'rgba(60,141,188,1)',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(60,141,188,1)',
					data: [
					@foreach(var p in Model.Months)
					{
						<text>@p.TopAmount,</text>
					}
					]
				},
				{
					label: 'Bottom limit',
					fill: false,
					backgroundColor: 'rgba(210, 214, 222, 1)',
					borderColor: 'rgba(210, 214, 222, 1)',
					pointRadius: 5,
					pointColor: 'rgba(210, 214, 222, 1)',
					pointStrokeColor: '#c1c7d1',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(220,220,220,1)',
					data: [
					@foreach(var p in Model.Months)
					{
						<text>@p.BottomAmount,</text>
					}
					]
				},
				{
					label: 'Spent',
					fill: true,
					backgroundColor: 'rgba(210, 100, 222, 1)',
					borderColor: 'rgba(210, 214, 150, 1)',
					pointRadius: 8,
					pointColor: 'rgba(210, 214, 222, 1)',
					pointStrokeColor: '#c1c7d1',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(220,220,220,1)',
					data: [
					@foreach(var p in Model.Months)
					{
						<text>@p.Spent ,</text>
					}
					]
				}
			]
		}

		var barChartCanvas = $('#barChart').get(0).getContext('2d')
		var barChartData = jQuery.extend(true, {}, areaChartData)
		var temp0 = areaChartData.datasets[0]
		var temp1 = areaChartData.datasets[1]
		//barChartData.datasets[0] = temp0;
		//barChartData.datasets[1] = temp1;

		var drawLine = $("#chartSwitch").is(":checked");
		var draw = 'bar';
		var tooltipMode = 'nearest';
		if (drawLine) {
			draw = 'line';
			tooltipMode = 'index';
		}

		var barChartOptions = {
			customValue:@Model.Months.Last().Spent,
			customLine: !drawLine,
			responsive: true,
			maintainAspectRatio: false,
			datasetFill: false,
			tooltips: {
				mode: tooltipMode,
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					},
					display: true,
					scaleLabel: {
						display: true,
						labelString: "Amount (din)"
					}
				}],
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: "Month"
					}
				}]
			},
			legend: {
				display: true
			}
		}

		myChart = new Chart(barChartCanvas, {
			type: draw,
			data: barChartData,
			options: barChartOptions
		})
	}
	createChart();

	$('#chartSwitch').change(function () {
		if (this.checked) {
			//Do stuff
		}
		createChart();
	});

</script>
