﻿@model Expenses.Models.ViewModel.CurrentMonthData
@{
	ViewData["Title"] = "CurrentMonthPayments";
}


	<div class="card" style="width:100%">
		<div class="card-header">
			<h3 class="card-title">Current month spending</h3>

			<div class="card-tools">
				<div class="input-group input-group-sm" style="width: 150px;">

				</div>
			</div>
		</div>
		@{
			Func<System.Drawing.Color, string> getHtmlColor = (c) =>
			{
				string cl = $"#{c.R.ToString("x2")}{c.G.ToString("x2")}{c.B.ToString("x2")}";
				return cl;
			};
			List<Tuple<string, string, int, string>> percents = new List<Tuple<string, string, int, string>>();
			var v = new
			{
				Name = "n",
				Amount = "a",
				Percent = 10,
				Color = "c"
			};
			var list = new[] { v }.ToList();
			list.Clear();
			double totalAmount = Model.Groups.Sum(x => x.Amount);
			int displayedGroupsCount = 4;
			if (Model.Groups.Count() == displayedGroupsCount + 1)
				displayedGroupsCount++;
			var displayedGroups = Model.Groups.Take(displayedGroupsCount);
			double currentPermille = 0;
			foreach (var g in displayedGroups)
			{
				string name = g.Name;
				string s = Model.Currency.ConvertToString(g.Amount);
				int permille = (int)(Math.Round(g.Amount / totalAmount * 1000.0));
				var color = getHtmlColor(g.Color);
				currentPermille += permille;
				list.Add(new
				{
					Name = name,
					Amount = s,
					Percent = permille,
					Color = color
				});
			}
			var otherGroups = Model.Groups.Skip(displayedGroupsCount);
			if (otherGroups.Any())
			{
				double amount = otherGroups.Sum(x => x.Amount);
				int permille = (int)(amount / totalAmount * 1000);
				currentPermille += permille;
				list.Add(new
				{
					Name = "Other",
					Amount = Model.Currency.ConvertToString(amount),
					Percent = permille,
					Color = "#989898"
				});
			}
		}
		<!-- /.card-header -->
		<div class="card-body row">
			<div class="table-responsive p-0 col-sm-8" style="max-height: 300px;">
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th colspan="4" style="padding:2px; font-size:0.8em; font-weight:normal;"> * Last @Model.Payments.Count() payments</th>
						</tr>
						<tr>
							<th>Group</th>
							<th>Shop</th>
							<th>Amount</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var p in Model.Payments.Reverse())
						{
							<tr>
								<td>
									<span style="width:20px; height:100%; background-color:@getHtmlColor(p.GroupColor)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									@p.Group
								</td>
								<td>@p.Shop</td>
								<td>@Model.Currency.ConvertToString(p.Amount)</td>
								<td>@p.Date</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="col-sm-auto">
				<div class="row">
					<div class="col-md-8">
						<div class="chart-responsive">
							<div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
							<canvas id="pieChart" height="120" width="120" class="chartjs-render-monitor" style="display: block; width: 120px; height: 120px; max-height:210px; max-width:210px;"></canvas>
						</div>
						<script>
						//-------------
						//-------------
						//- PIE CHART -
						//-------------
						// Get context with jQuery - using jQuery's .get() method.
						var pieChartCanvas = $('#pieChart').get(0).getContext('2d')

						var pieData = {
							labels: [
								@foreach (var g in list)
								{
									<text>'@g.Name: ',</text>
								}
							],
							datasets: [
								{
									data: [
										@foreach(var g in list)
										{
											<text>@g.Percent,</text>
										}
									],
									backgroundColor: [
										@foreach(var g in list)
										{
											<text>'@g.Color',</text>
										}
									],
								}
							]
						}
						var pieOptions = {
							legend: {
								display: false
							},
							tooltips: {
								enabled: true,
								mode: 'single',
								callbacks: {
									label: function (tooltipItems, data) {
										return data.labels[tooltipItems.index]
											+ data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]/10
											+ '%'
									}
								}

							}
						}
						//Create pie or douhnut chart
						// You can switch between pie and douhnut using the method below.
						var pieChart = new Chart(pieChartCanvas, {
							type: 'doughnut',
							data: pieData,
							options: pieOptions
						})

  //-----------------
  //- END PIE CHART -
  //-----------------
						</script>
						<!-- ./chart-responsive -->
					</div>
					<!-- /.col -->
					<div class="col-md-4">
						<ul class="chart-legend clearfix">

							@foreach (var g in list)
							{
								<li style="color:@g.Color"><i class="fas fa-dot-circle"></i> @g.Name:<br /> <span class="no-wrap" style="padding-left:20px;"> @g.Amount</span></li>
							}
						</ul>
					</div>
					<!-- /.col -->
				</div>
			</div>
		</div>
		<!-- /.card-body -->
	</div>