﻿@model Expenses.Models.ViewModel.CurrentMonthData
@{
	double topLimit = Model.TopLimit;
	double bottomLimit = Model.BottomLimit;
	double current = Model.Spent;
	string currency = Model.Currency.Sign;

	Func<double, string> formatDouble = (m) => string.Format("{0:0.0}", m);
}

	<div class="card" style="width:100%">
		<div class="card-header border-0" style="background-color:#17a2b8;">
			<div class="d-flex justify-content-between">
				<p class="card-title" style="color:white">Costs</p>
				<i class="nav-icon far fa-calendar-alt" style="align-self:center; color:white;"></i>
			</div>
		</div>
		<div class="card-body">
			<div class="">
				<p class="text-center">
					Spent: <strong style="font-size:1.4em">@Model.Currency.ConvertToString(current)</strong>
				</p>
				@{
					double topPercent = current / topLimit * 100;
					double bottomToTopLimitPercent = bottomLimit / topLimit * 100;
					double currentTopPercent = current / topLimit * 100;
					double bottomPercent = currentTopPercent / bottomToTopLimitPercent * 100;
					if (currentTopPercent > 100)
						currentTopPercent = 100;
					if (bottomPercent > 100)
						bottomPercent = 100;
					if (topLimit < 0.00001)
					{
						topPercent = 100;
						bottomPercent = 100;
						currentTopPercent = 100;
						bottomToTopLimitPercent = 100; 
						
					}

					string bottomToTopString = formatDouble(bottomToTopLimitPercent) + "%";
					string bottomString = formatDouble(bottomPercent) + "%";
					string topString = formatDouble(currentTopPercent) + "%";

					string bottomProgressColor = "bg-success";
					if (bottomPercent > 80)
						bottomProgressColor = bottomPercent > 99.99 ? "bg-danger" : "bg-warning";
					string topProgressColor = "bg-primary";
					if (topPercent > 80)
						topProgressColor = topPercent > 99.99 ? "bg-danger" : "bg-warning";
				}
				<div class="progress-group" style="">
					Bottom limit
					<span class="float-right">@Model.Currency.ConvertToString(bottomLimit)</span>
					<div class="progress" style="height:20px; width:@bottomToTopString">
						<div class="progress-bar progress-bar-striped @bottomProgressColor" style="width: @bottomString">
							@bottomString
						</div>
					</div>
				</div>
				<!-- /.progress-group -->

				<div class="progress-group">
					Top limit
					<span class="float-right">@Model.Currency.ConvertToString(topLimit)</span>
					<div class="progress" style="height:20px;">
						<div class="progress-bar progress-bar-striped @topProgressColor" style="width: @topString">
							@topString
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				@{
					double remainingTopPercent = 100 - topPercent;
					double remainingBottomPercent = 100 - bottomPercent;
					// 0 - good, 1 - warning, 2 - bad.
					Func<double, int> getTextClass = (val) =>
					{
						int res = 0;
						if (val < 20)
						{
							if (val > 0)
								res = 1;
							else
								res = 2;
						}
						return res;
					};
					int bottomState = getTextClass(remainingBottomPercent);
					int topState = getTextClass(remainingTopPercent);
					string bottomText = "text-success";
					string topText = "text-success";
					switch (bottomState)
					{
						case 0: break;
						case 1: bottomText = "my-alert-warning"; break;
						case 2: bottomText = "text-danger"; break;
					}
					switch (topState)
					{
						case 0: break;
						case 1: topText = "my-alert-warning"; break;
						case 2: topText = "text-danger"; break;
					}
				}
				<div class="col-6">
					<div class="description-block border-right">
						<span>Remaining bottom</span><br />
						<span class="description-percentage @bottomText">
							@formatDouble(remainingBottomPercent) %
						</span>
						<h3 class="description-header" style="font-size:1.2em">@Model.Currency.ConvertToString(bottomLimit - current)</h3>
					</div>
					<!-- /.description-block -->
					@{
						string styleBottomWarning = bottomState != 1 ? "display:none" : "";
						string styleBottomError = bottomState != 2 ? "display:none" : "";
					}
					<!-- Warning message-->
					<div class="my-alert my-alert-warning" style=" @styleBottomWarning" )>
						<i class="icon fas fa-exclamation-triangle"></i> Close to limit
					</div>
					<!-- Error message-->
					<div class="my-alert my-alert-error" style=" @styleBottomError" )>
						<i class="icon fas fa-ban"></i> Limit passed!
					</div>
				</div>
				<!-- /.col -->
				<div class="col-6">
					<div class="description-block">
						<span>Remaining top</span><br />
						<span class="description-percentage @topText">
							@formatDouble(remainingTopPercent) %
						</span>
						<h3 class="description-header" style="font-size:1.2em">@Model.Currency.ConvertToString(topLimit - current)</h3>
					</div>
					<!-- /.description-block -->
					@{
						string styleTopWarning = topState != 1 ? "display:none" : "";
						string styleTopError = topState != 2 ? "display:none" : "";
					}
					<!-- Warning message-->
					<div class="my-alert my-alert-warning" style=" @styleTopWarning " )>
						<i class="icon fas fa-exclamation-triangle"></i> Close to limit
					</div>
					<!-- Error message-->
					<div class="my-alert my-alert-error" style="@styleTopError" )>
						<i class="icon fas fa-ban"></i> Limit passed!
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>