﻿@model Expenses.Models.ViewModel.PaymentViewModel

@{ 
	bool isFirst = true;
}

<div class="card-body">
	<div class="row">
		<div class="col-sm">
			<div class="row">
				<div class="col-md-auto" style="width:auto; min-width:130px;">
					<label>Select group</label>
					<select class="form-control select2bs4 select2-hidden-accessible" data-tags="true"
							style="width: 100%;" tabindex="-1" aria-hidden="true"
							asp-for="Group">
						@{
							isFirst = true;
						}
						@foreach (string g in ViewBag.Groups)
						{
							if (isFirst)
							{
								<text>
									<option selected="selected">@g</option>
								</text>
							}
							else
							{
								<text>
									<option>@g</option>
								</text>
							}
							isFirst = false;
						}
					</select>
				</div>
				<div class="col-md-auto" style="width:auto; min-width:130px;">
					<label>Select shop</label>
					<select class="form-control select2bs4 select2-hidden-accessible" data-tags="true"
							style="width: 100%;" tabindex="-1" aria-hidden="true"
							asp-for="Shop">
						@{
							isFirst = true;
						}
						@foreach (string g in ViewBag.Shops)
						{
							if (isFirst)
							{
								<text>
									<option selected="selected">@g</option>
								</text>
							}
							else
							{
								<text>
									<option>@g</option>
								</text>
							}
							isFirst = false;
						}
					</select>

					<!-- /.form-group -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-auto" style="width:auto; min-width:130px; margin-top:15px;">
					<label>Payment method</label>
					<select class="form-control select2bs4 select2-hidden-accessible" data-tags="true"
							style="width: 100%;" tabindex="-1" aria-hidden="true"
							id="select-method"
							asp-for="PaymentMethod">
						@{
							isFirst = true;
						}
						@foreach (string g in ViewBag.PaymentMethods)
						{
							if (isFirst)
							{
								<text>
									<option selected="selected">@g</option>
								</text>
							}
							else
							{
								<text>
									<option>@g</option>
								</text>
							}
							isFirst = false;
						}
					</select>
				</div>
			</div>
		</div>
		<!-- end of col -->
		<div class="col-sm" style="display:flex; flex-direction:column;">
			<div class="form-group col-md-auto" style="max-width:175px; align-self:flex-end;">
				<label>Date:</label>
				<input asp-for="Date" style="display:none; " type="datetime" id="dateTimeHidden" />
				<div class="input-group date" id="paymentDate" data-target-input="nearest">
					<input type="text" class="form-control datetimepicker-input" data-target="#paymentDate">
					<div class="input-group-append" data-target="#paymentDate" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar"></i></div>
					</div>
				</div>
			</div>
			<div class="form-group col-md-auto" style="max-width:140px; align-self:flex-end;">
				<label>Time:</label>

				<div class="input-group date" id="timepicker" data-target-input="nearest">
					<input type="text" class="form-control datetimepicker-input" data-target="#timepicker">
					<div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="far fa-clock"></i></div>
					</div>
				</div>
				<!-- /.input group -->
			</div>
		</div>
		<!-- end of col -->

	</div>
	<!-- /.row -->
	<div class="row">
		<!-- /.form-group -->
		<!-- /.col -->
		<div class="col-md-auto" style="width:auto; min-width:120px; margin-top:15px;">
			<label>Select or create tags</label>
			<select class="select2bs4 select2-hidden-accessible" id="groupsDropDown" data-tags="true"
					multiple="" data-placeholder="Type..." style="width: 100%;" tabindex="-1" aria-hidden="true"
					asp-for="Tags" asp-items="@Model?.Tags?.Select(x=> new SelectListItem(x, x))">
				@{
					isFirst = true;
				}
				@foreach (string g in ViewBag.Tags)
				{
					<option>@g</option>
				}
			</select>

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<div class="row" style="padding-top:15px;">

	</div>
	<div class="row">
		<div class="form-group">
			<label for="exampleInputFile">Select file</label>
			<div class="input-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="exampleInputFile">
					<label class="custom-file-label" for="exampleInputFile">Choose file</label>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
	</div>
	<script>
		var currentRows = 0;
		var itemRowIdPrefix = "row";

		function createRow(name, amount, allowDelete = true) {
			let rowId = itemRowIdPrefix + currentRows;
			allowDelete = allowDelete && currentRows > 0;
			let val = "<tr id='" + rowId + "'> <td class='rowIndex'>" + (currentRows + 1) + ".</td>" +
				"<td><input type='text' name='Items[" + currentRows + "].Name' class='form-control' placeholder='Enter name ...' value='" + name + "'></td>" +
				"<td><input type='text' name='Items[" + currentRows + "].Amount' class='form-control item-amount' placeholder='Enter amount ...' value='" + formatMoney(amount, false) + "' onchange='refreshAmount()'></td>" +
				"<td>" +
				(allowDelete === true ? "<span class='badge'>" +
					"<button type='button' class='btn btn-block btn-outline-danger btn-sm rounded-button' onclick='deleteRow(this);'><i class='fas fa-times' " +
					" ></i></button></span> "
					: "") +
				"</td></tr>";
			currentRows++;
			return val;
		}
	</script>
	<div class="row">
		<table class="table table-bordered" id="tableItems" style="width:100%;">
			<thead>
				<tr>
					<th style="width: 10px">#</th>
					<th>Item</th>
					<th>Amount</th>
					<th style="width: 40px">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr id="tableLastRow">
					<td colspan="4">
						<button type="button" class="btn btn-block btn-success" style="margin:auto; width:auto;" onmousedown="addItem()"> Add item</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row" style="display:flex; justify-content:space-between">
		<div class="form-group">
			<label>Comment</label>
			<textarea class="form-control" style="resize:both; min-width:310px;" rows="3" placeholder="Enter comment about payment..."
					  asp-for="Comment"></textarea>
		</div> 
		<div class="float-right" style="font-size:2em; align-self:flex-end "> Total amount: <br /><label style="float:right;"><span id="total-amount">234.56</span> din</label></div>
	</div>


</div>
<script>
	function addItem(row = null) {
		let r = row;
		if (row === null)
			r = createRow("Item " + currentRows, 0);
		$("#tableLastRow").before(r);
		reassignItemIds();
		refreshAmount();
	}
	function reassignItemIds() {
		$('#tableItems > tbody > tr').each(function (index, tr)
		{
			if ($(tr).prop('id') == 'tableLastRow')
				return;
			let t = itemRowIdPrefix + index;
			$(tr).prop("id", t);
			$(tr).children(".rowIndex").text((index + 1) + '.');
		});
	}
	function deleteRow(el) {
		let id = $(el).closest("tr").prop("id");
		//deleteRow(id);
		$("#" + id).remove();
		reassignItemIds();
		refreshAmount();
	}
	function updateDateTime(time) {
		let t = time;
		let d = $("#paymentDate").datetimepicker("date");
		let date = new Date(d.year(), d.month(), d.date(), t.hour(), t.minute());
		$("#paymentDate").datetimepicker("date", date);

		$("#dateTimeHidden").val(date.toJSON());
	}
	function refreshAmount() {
		let total = 0;
		$('#tableItems > tbody > tr').each(function (index, tr) {
			if ($(tr).prop('id') == 'tableLastRow')
				return;
			let t = itemRowIdPrefix + index;
			$(tr).prop("id", t);
			let v = $(tr).find(".item-amount").first().val();
			total += parseFloat(v);
		});
		$("#total-amount").html(formatMoney(total, false));
	}
	$(document).ready(() => {
		//let r = createRow("Item 1", 0, false);
		//$("#tableLastRow").before(r);
		//r = createRow("Item 2", 10254.54);
		//$("#tableLastRow").before(r);

		$('#timepicker').on("hide.datetimepicker", function (e) {
			updateDateTime(e.date);

		});
	}
	);
	@{
		DateTime dt = DateTime.Now;
		dt = Model?.Date ?? dt;
		double year = dt.Year;
		double month =dt.Month-1;
		double day = dt.Day;
		double hour = dt.Hour;
		double minute = dt.Minute;

	}
	var date = new Date(@year, @month, @day, @hour, @minute);
	$(document).ready(function () {//Initialize Select2 Elements
		$('.select2').select2()

		//Initialize Select2 Elements
		$('.select2bs4').select2({
			theme: 'bootstrap4',
			dropdownAutoWidth: true,
		});
		$('#paymentDate').datetimepicker({
			format: 'DD.MM.YYYY.',
			defaultDate: date
		});
		$('#timepicker').datetimepicker({
			format: 'HH:mm',
			defaultDate: date
		});
		$("#paymentDate").datetimepicker("date", date);
		updateDateTime($('#timepicker').datetimepicker('viewDate'));
	});

	function showToastSuccess() {
		$(document).Toasts('create', {
			class:"bg-success",
			title: '<h3>Payment added</h3>',
			autohide: true,
			delay: 4000,
			body: '<div></div>'
		})
	}
	@if(ViewBag.PaymentSuccess == true)
	{
		<text>showToastSuccess();</text>
	}
	$('.toastsDefaultAutohide').click(function () {
		showToastSuccess();
	});
</script>

@if (Model?.Items?.Any() ?? false)
{
	Tuple<string, double>[] items = Model.Items.Select(x => new Tuple<string, double>(x.Name, x.Amount)).ToArray();
	<script>
	@foreach (var v in items)
	{
		<text>addItem(createRow('@v.Item1 ', @v.Item2));
		</text>
	}
	</script>
}
else
{
	<script>
		addItem();
	</script>
}