﻿

@{
	string add = "1";
	string dash = "2";
	string monthly = "33";
	string payments = "3";
	string settings = "4";
	string prefs = "5";
	string account = "6";
	string admin_sett = "7";
	string action = ViewBag.Action;
	Func<string, string> getClass = (a) => action == a ? " active" : "";
	Dictionary<string, string> actions = new Dictionary<string, string>()
	{
		[add] = nameof(AccountController.AddPayment),
		[dash] = nameof(AccountController.Index),
		[monthly] = nameof(AccountController.Monthly),
		[payments] = nameof(AccountController.Payments),
		[settings] = nameof(AccountController.Settings),
		[prefs] = nameof(AccountController.Preferences),
		[account] = nameof(AccountController.Account),
		[admin_sett] = nameof(AccountController.AdminSettings),
	};
	Dictionary<string, string> classes = new Dictionary<string, string>()
	{
		[add] = getClass(actions[add]),
		[dash] = getClass(actions[dash]),
		[monthly] = getClass(actions[monthly]),
		[payments] = getClass(actions[payments]),
		[settings] = getClass(actions[settings]),
		[prefs] = getClass(actions[prefs]),
		[account] = getClass(actions[account]),
		[admin_sett] = getClass(actions[admin_sett]),
	};
	bool isAdmin = ViewBag.IsAdmin ?? false;

}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="index3.html" class="brand-link">
		<img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
			 style="opacity: .8">
		<span class="brand-text font-weight-light">Expenses manager</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<i class="nav-icon fas fa-user" style="color:white; vertical-align:middle;"></i>
			</div>
			<div class="info">
				<a as href="#" class="d-block">@ViewBag.FullName </a>
			</div>
		</div>


		<!-- Sidebar Menu -->

		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a asp-action="@actions[add]" class="nav-link @classes[add]">
						<i class="nav-icon fas fa-plus-square"></i>
						<p>
							Add Payment<span class="right badge badge-danger">New</span>
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="@actions[dash]" class="nav-link @classes[dash]">
						<i class="nav-icon fas fa-home"></i>
						<p>
							Dashboard
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="@actions[monthly]" class="nav-link @classes[monthly]">
						<i class="nav-icon fas fa-calendar"></i>
						<p>
							Monthly
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="@actions[payments]" class="nav-link @classes[payments]">
						<i class="nav-icon fas fa-list"></i>
						<p>
							Payments
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="@actions[settings]" class="nav-link @classes[settings]">
						<i class="nav-icon fas fa-users-cog"></i>
						<p>
							Settings
						</p>
					</a>
				</li>
				@if (false)
				{
					<li class="nav-item">
						<a asp-action="@actions[prefs]" class="nav-link @classes[prefs]">
							<i class="nav-icon fas fa-credit-card"></i>
							<p>
								Payment preferences
							</p>
						</a>
					</li>
					<li class="nav-item">
						<a asp-action="@actions[account]" class="nav-link @classes[account]">
							<i class="nav-icon fas fa-address-card"></i>
							<p>
								Account
							</p>
						</a>
					</li>
				}
				@if (isAdmin)
				{
					<li class="nav-header">Admin</li>

					<li class="nav-item">
						<a asp-action="@actions[admin_sett]" class="nav-link @classes[admin_sett]">
							<i class="nav-icon fas fa-users-cog"></i>
							<p>
								Settings
							</p>
						</a>
					</li>
				}
				<li class="nav-header">Backup</li>

				<li class="nav-item">
					<a asp-action="ExportAll" asp-controller="Api" class="nav-link">
						<i class="nav-icon fas fa-users-cog"></i>
						<p>
							Export
						</p>
					</a>
				</li>
			</ul>
		</nav>

		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>






