﻿@model Expenses.Models.ViewModel.LoginModel
@{ 
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MyExpenses | Log in</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/theme/fontawesome-free/css/all.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css" />

	<!-- /.register-box -->
	<!-- jQuery -->
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/theme/dist/js/adminlte.min.js"></script>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a><b>MyExpenses</b></a>
		</div>
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Sign in to start your session</p>
				<div asp-validation-summary="All" class="text-danger"></div>
				<form asp-action="login" method="post"  asp-route-returnurl ="@ViewBag.ReturnUrl">
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Username or Email" asp-for="Name">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Password" asp-for="Password">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary">
								
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>
						<!-- /.col -->
					</div>
				</form>



				@if (false)
				{
				<p class="mb-1">
					<a href="forgot-password.html">I forgot my password</a>
				</p>
				}
				<p class="mb-0">
					<a asp-action="Register" class="text-center">Register a new membership</a>
				</p>
			</div>
			<!-- /.login-card-body -->
		</div>
	</div>

</body>
</html>
