﻿@model Expenses.Models.ViewModel.RegisterModel
@{
	ViewData["Title"] = "Home Page";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MyExpenses | Registration Page</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/theme/fontawesome-free/css/all.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css" />

	<!-- /.register-box -->
	<!-- jQuery -->
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/theme/dist/js/adminlte.min.js"></script>
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a asp-action="Index"><b>MyExpenses manager</b></a>
		</div>

		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">Register new user</p>
				<div asp-validation-summary="All" class="text-danger"></div>
				<form asp-action="Register" method="post">
					@Html.AntiForgeryToken()
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Username" asp-for="Username">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Email *" asp-for="Email">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Password *" asp-for="Password">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Retype password *" asp-for="Password1">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary">
								<input type="checkbox" id="agreeTerms" name="terms" value="agree">
								<label for="agreeTerms">
									I agree to the <a href="#">terms</a>
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Register</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<a asp-action="Login" class="text-center">Login</a>
			</div>
			<!-- /.form-box -->
		</div><!-- /.card -->
	</div>
</body>
</html>
