﻿

.my-alert {
	border-radius: 5px;
	text-align: center;
}

.my-alert-error {
	color: red;
}

.my-alert-warning {
	color: #ffa500;
}

.no-wrap {
	white-space: nowrap;
}

/*  Switch button */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 19px;
}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 15px;
		width: 15px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 19px;
}

	.slider.round:before {
		border-radius: 50%;
	}
/*  Switch button end   */

.rounded-button{
	width:30px;
	height:30px;
	border-radius:15px;
}

.table-header-center th{
	text-align:center;
}
.table-cell-center td{
	text-align:center;
}

/* Disabled months and days are gray, enabled are bold. */
.bootstrap-datetimepicker-widget table td .month {
	font-weight: bold;
}
.bootstrap-datetimepicker-widget table td .disabled {
	font-weight: normal;
}
.bootstrap-datetimepicker-widget table tr .day {
	font-weight: bold;
}
.bootstrap-datetimepicker-widget table tr .disabled {
	font-weight: normal;
}

